html, body {
  background-color: #CACAF9;
  margin: 10px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #C4C4C4;
}

.container > div:nth-child(1n) {
  background-color: black;	
}

.container > div:nth-child(3n) {
  background-color: #ED71D9;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #6764EF;
}


.container2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #504f4d;
}

.container2 > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container2 > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container2 > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container2 > div:nth-child(4n) {
  background-color: #ffcc5c;
}

.title {
  color: black;
  background-color: #C4C4C4;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
}